@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e0ebde;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0ebde;
    --foreground: #3a6253;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
